#=========================================================#
# OS Files
#=========================================================#
.DS_Store/
.vscode/

#=========================================================#
# Tools
#=========================================================#
# Compiled Python
tools/**/*.pyc

#=========================================================#
# Build Artifacts
#=========================================================#
# Build artifacts
build/
# Ninja artifacts
.ninja_deps
.ninja_log
.ninja_lock
build.ninja
compile_commands.json
objdiff.json
# Clangd artifacts
.cache/

#=========================================================#
# Temporary
#=========================================================#
base_objects/
target_objects/
output_classes/
